extends layout

block content
	div.container
		div.table-responsive
			table#playlist.table.table-bordered.table-hover
				thead
					tr
						th='id'
						th='title'
						th='artist'
						th='url'
				tbody
					each track in playlist
						tr(url=track.url)
							td=track.id
							td=track.title
							td=track.artist
							td=track.url

		form(method='post', action='/playlist').add
			div.row
				div.col-lg-12
					div.input-group
						span.input-group-btn
							button.btn.btn-default(type='submit') Add
						input.form-control(type='url', name='url', placeholder="Audio URL", value='http://justcuzurafraidurpeerswillfindou.tumblr.com/post/126751600182/bulletsareextinct-thelastwordinstolentelling')

	nav.navbar.navbar-fixed-bottom
		div.container
			div.embed-responsive(data-toggle='tooltip')
				div#player

	script(type='text/javascript').
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
