extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		div.container
			div.embed-responsive(data-toggle='tooltip')
				div#player

	div.container.body
		form(method='post', action='/playlist').add
			div.row
				div.col-lg-12
					div.input-group
						span.input-group-btn
							button.btn.btn-default(type='submit') Add
						input.form-control(type='url', name='url', placeholder="Audio URL")

		div.table-responsive
			table#playlist.table.table-bordered.table-hover.table-condensed
				thead
					tr
						th
						th='id'
						th='title'
						th='artist'
						th='url'
				tbody
					each track in playlist
						tr(url=track.url)
							td.btn.btn-danger
								span.glyphicon.glyphicon-trash
							td=track.id
							td=track.title
							td=track.artist
							td=track.url

	script(type='text/javascript').
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
